.sketchBoard {
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 160px;
    /* background-color: rgb(171, 171, 171); */
}

.pixel {
    height: 10px;
    width: 10px;
    /* background-color: white;
    border: 1px solid gray;
    box-sizing: border-box; */
}

.defaultColor {
    background-color: blueviolet;
}